.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

/* Флекс-контейнер для трех главных элементов */
.header-container {
    display: flex;
    align-items: center;
}

/* Навигация теперь флексит только свои внутренние ссылки */
.nav {
    display: flex;
    align-items: center;
    margin-left: 76px; /* Зазор между логотипом и началом навигации по макету */
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-span {
    color: #4d5ae5;
}

/* Контакты автоматически прижимаются к правому краю */
.address {
    font-style: normal;
    margin-left: auto; 
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
